:markdown
  ### Lead

  * Interviews applicants for development positions
  * Does 1:1's with all reports every 2-5 weeks (depending on the experience of the report)
  * Is available for 1:1's on demand of the report
  * Coordinates with the team and product managers about plan for the work in the upcoming week
  * Coordinates with the infrastructure team
  * Coordinates with the external packagers
  * Delivers input on promotions, function changes, demotions and firings in consultation with the CEO, CTO, and VP of Engineering
  * Continues to spend time on coding
  * Ensures that product features are supported within the supported packages
  * Ensures the quality of implementation
  * Ensures the simplicity of added features
